@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100%;
}
.main {
    background-image: url(assets/images/image1.jpg);
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

/* main box was made so the opacity off buttons will not get affected */
.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 165vh;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 92px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
    height: 95px;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

nav button {
    position: relative;
    z-index: 10;
    border-radius: 4px;
    
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height:calc(100% - 95px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 30px;
    gap: 15px;
    /*to get pop out from the box */
}

.hero> :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 55px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400px;
    font-size: 15px;
    text-align: center;
}
.separation{
    background-color: rgb(38, 32, 32);
    height: 7px;
}
.btn{
    padding: 7px 23px;
    font-weight: bold;
    background-color: white;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    

}
.hero-buttons{
    display: flex;
    gap: 7px;
}

.btn-red-sm{
    background-color: red;
    color: white ;
    font-weight: 500;
}

.main input{
    padding: 18px 188px 18px 16px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.80);
    color: white;
    font-weight: 900;
}

